@import url("https://fonts.googleapis.com/css2?family=Geostar&display=swap");
body {
  padding: 0;
  margin-top: 0px;
  /* font-family: "Geostar", cursive; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-image: url("/space-background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#home {
  color: rgb(77, 166, 244);
  text-shadow: 0 0 30px rgb(238, 255, 255);
  font-size: 2rem;
  position: absolute;
  top: 30px;
  left: 50px;
  text-align: center;
  padding: 0;
}

.heading {
  color: rgb(227, 227, 227);
  font-family: "Geostar", cursive;
  font-size: 4.5rem;
  padding-top: 150px;
}

#links-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links {
  color: rgb(129, 255, 255);
  text-shadow: 0 0 50px rgb(129, 255, 255);
  font-size: 3rem;
}

.character {
  font-size: 2rem;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.films-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.films-container h4 {
  font-size: 1.6rem;
  width: 60%;
  text-align: center;
}

.planets-container {
  width: 80%;
  border: 2px solid gray;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
